# virtual environments
.venv/

# Jupyter checkpoints
.ipynb_checkpoints/

# compiled or temporary files
__pycache__/
*.pyc

libs/resources/Maps/

libs/resources/Alternative_cable_layouts

# editor settings
.vscode/
